<mat-form-field appearance="fill">
  <mat-label>Add product</mat-label>
  <input type="text" matInput [formControl]="addControl" [matAutocomplete]="auto" [(ngModel)]="addItem">
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let option of filteredAddOptions | async" [value]="option">
      {{ option }}
    </mat-option>
  </mat-autocomplete>
  <button *ngIf="addItem" matSuffix mat-icon-button label="Clear" (click)="addItem=''">
    <mat-icon>close</mat-icon>
  </button>
  <button *ngIf="addItem" matSuffix mat-icon-button label="Add" (click)="addToCart()">
    <mat-icon>done</mat-icon>
  </button>
</mat-form-field>

<mat-selection-list #productsList (selectionChange)="onSelectionChange($event)">
  <mat-list-option
    *ngFor="let product of getProducts()"
    [value]="product.id"
    [selected]="product.checked"
  >
    {{ product.name }}
  </mat-list-option>
</mat-selection-list>

<button mat-raised-button color="warn" (click)="removeSelected()">Remove seleted</button>
